<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ValidateUser</servlet-name>
        <servlet-class>src.controller.ValidateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>src.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProfile</servlet-name>
        <servlet-class>src.controller.ManageProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>src.controller.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTrelloData</servlet-name>
        <servlet-class>src.controller.getTrelloData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTrelloDetails</servlet-name>
        <servlet-class>src.controller.updateTrelloDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDevSkill</servlet-name>
        <servlet-class>src.controller.updateDevSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewUser</servlet-name>
        <servlet-class>src.controller.addNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>src.controller.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignProject</servlet-name>
        <servlet-class>src.controller.assignProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeUserPassword</servlet-name>
        <servlet-class>src.controller.changeUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPriority</servlet-name>
        <servlet-class>src.controller.editPriority</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>src.controller.UploadFileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignRecommendation</servlet-name>
        <servlet-class>src.controller.assignRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processRecommendation</servlet-name>
        <servlet-class>src.controller.processRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeUser</servlet-name>
        <servlet-class>src.controller.removeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeDevSkill</servlet-name>
        <servlet-class>src.controller.removeDevSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyCountry</servlet-name>
        <servlet-class>src.controller.modifyCountry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewDefect</servlet-name>
        <servlet-class>src.controller.addNewDefect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>defectComplete</servlet-name>
        <servlet-class>src.controller.defectComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDefect</servlet-name>
        <servlet-class>src.controller.updateDefect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortData</servlet-name>
        <servlet-class>src.controller.sortData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefectScreenshotServlet</servlet-name>
        <servlet-class>src.controller.DefectScreenshotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefectScreenshotController</servlet-name>
        <servlet-class>src.controller.DefectScreenshotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeDev</servlet-name>
        <servlet-class>src.controller.removeDev</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateUser</servlet-name>
        <url-pattern>/ValidateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProfile</servlet-name>
        <url-pattern>/ManageProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/ManageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTrelloData</servlet-name>
        <url-pattern>/getTrelloData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTrelloDetails</servlet-name>
        <url-pattern>/updateTrelloDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDevSkill</servlet-name>
        <url-pattern>/updateDevSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewUser</servlet-name>
        <url-pattern>/addNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignProject</servlet-name>
        <url-pattern>/assignProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeUserPassword</servlet-name>
        <url-pattern>/changeUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPriority</servlet-name>
        <url-pattern>/editPriority</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignRecommendation</servlet-name>
        <url-pattern>/assignRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processRecommendation</servlet-name>
        <url-pattern>/processRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeUser</servlet-name>
        <url-pattern>/removeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeDevSkill</servlet-name>
        <url-pattern>/removeDevSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyCountry</servlet-name>
        <url-pattern>/modifyCountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewDefect</servlet-name>
        <url-pattern>/addNewDefect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>defectComplete</servlet-name>
        <url-pattern>/defectComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDefect</servlet-name>
        <url-pattern>/updateDefect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortData</servlet-name>
        <url-pattern>/sortData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefectScreenshotServlet</servlet-name>
        <url-pattern>/DefectScreenshotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefectScreenshotController</servlet-name>
        <url-pattern>/DefectScreenshotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeDev</servlet-name>
        <url-pattern>/removeDev</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
